#root {
  text-align: center;
  width: 100%;
  margin: 0%;
}

.titulo{
  font-size: 100px;
  padding: 0%;
  margin: 0%;
  line-height: 2;
  color: white;
  filter: drop-shadow(
    0px 10px 3px rgba(0, 0, 0, 0.3)
  );
}
.desc{
  font-size: 30px;
}

.sectionQuestion h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  filter: drop-shadow(
    0px 10px 3px rgba(0, 0, 0, 0.3)
  );
}

.sectionTitulo{
  grid-area: sectionTitulo;
  background: linear-gradient(rgba(5,7,12,0.5), rgba(255, 255, 255, 1)), url(../public/img/IMG_7128.JPG) no-repeat center center;
  background-size: cover;
  margin-bottom: 50px;
}
.sectionQuestion{
  grid-area: sectionQuestion;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: 
  "insc form";
  margin-top: 5%;
}

.vidIndro{
  font-size: 30px;
}

.vid{
  grid-area: vid;
  background: linear-gradient(rgba(255, 255, 255, 0.01), rgb(255, 255, 255)); 
}

.introduction{
  grid-area: introduction;
  font-size: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  filter: drop-shadow(
    0px 10px 3px rgba(0, 0, 0, 0.3)
  );
}

.player{
  grid-area: player;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

}

.footer{
  grid-area: footer;
  background-color: rgb(191, 189, 189);
  opacity: 0.8;
}

.nav{
  grid-area: nav;
  text-align: justify;
  padding-left: 2% ;
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 1));
}

.grid{
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 18fr 1fr;
  grid-template-areas: 
  "nav nav nav"
  "sectionTitulo sectionTitulo sectionTitulo"
  "vid vid vid"
  "sectionQuestion sectionQuestion sectionQuestion"
  "footer footer footer"
  ;
}

.insc{
  grid-area: insc;
  font-size: 40px;
  margin: 30%;
}

.form{
  grid-area: form;
  
}

@media only screen and (max-width: 768px) {
  .grid{
    height: 100vh;
    margin: 0%;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto), 1fr;
    grid-template-areas: 
    "sectionTitulo"
    "vid"
    "sectionQuestion"
    "footer";
  }
  .sectionQuestion{
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "insc"
    "form";
  }
}

